*{
  margin: 0;  
  padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position:sticky;
}
.navbar{
    background-image: linear-gradient(to right , #a517ba , #5f1782);
    padding: 0 !important;
}
.navbar-brand img {
    height: 40px;
    padding-left: 20px  ;
}
.navbar-nav li {
padding: 0 16px;
}
.navbar-nav li a{
    color: white !important;
    font-weight: 600;
}
 .navbar-toggler{
    outline: none !important;
} 
.header-img{
    width: 100%;
}
  /*-----------------selection-banner----------------------*/
#banner{
      background-image:linear-gradient(to right , #a517ba , #5f1782); 
      color: #fff;
      padding-top: 5%;
  }
  .play-btn{
      width: 45px;
      margin: 20px;
  }
  #banner a{
      text-decoration: none;
      color: #fff;
  }
/*--------------services---------------*/
#services{
    width: 80px 0;
}
.service-img{
    width: 100px ;
    margin-top: 20px;
}
.services{
    width: 20px;
}
.services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.tittle::before{
    content: '';
    background: palevioletred;
    height: 5px;
    width: 300px;
    margin: auto;
    transform: translateY(63px);
    display: block;
    

}

.tittle::after{
    content: '';
    background: palevioletred;
    height: 10px;
    width: 50px;
    margin: auto;
    transform: translateY(8px);
    display: block;

}
#services .btn-primary{
    background-image:linear-gradient(to right , #a517ba , #5f1782); 
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    padding: 8px 25px;
    margin-top: 25px;
}
#about{
    margin-top: 50px;
}
#about .list{
    margin-top: 40px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
}
#about ul li {
    margin: 19px 0;
}
/*--------user------*/
#testimonials{
margin: 100px 0;
}
#testimonials .row{
    margin-top: 80px;
}
.testimonial{
    border-left:4px solid #a517ba;
    margin-bottom: 50px;
    margin-top: 50px;

}
.testimonial img{
     height: 60px ;
     width: 60px;
     border-radius: 50px;
}
.namee{
    display: inline-block;
    font-size: 12px;
}
/*--------------------media*/
#media{
    padding: 100px 0;
}
#media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img {
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img {
    transform: translateY(-10px)
}
/*----------footter---------*/
#footer{
    background-image:linear-gradient(to right , #a517ba , #5f1782); 
color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box .fa {
margin-right: 8px;
font-size:25px;
height: 40px;
width: 40px;
text-align: center;
padding-top: 7px ;
border-radius: 2px;
background-image:linear-gradient(to right , #a517ba , #5f1782); 

}
.footer-box .form-control{
    outline: none;
    border: none;
    box-shadow: none !important;
    margin-top: 20px;
max-width: 250px;
}
.footer-box .send-btn{
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: none !important;
    margin-top: 20px;
    padding: 6px;
    color: #fff;
    background-image:linear-gradient(to right , #a517ba , #5f1782); 

}
